* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
body {
    background-color: #FFF5EE; ;
}

nav {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

a {
    text-decoration: none;
    color: black;
}

.btl {
    border: 2px solid yellow;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right img {
    width: "50"; 
    height: "50";
}

.header-right h1 {
    color: black;
    font-size: 30px;
    font-weight: 800;
}

.header-middle {
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
    gap: 30px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btl-1 {
    background-color: white;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 17px;
}

.btl-2 {
    background-color: purple;
    border: none;
    border-radius: 9px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 15px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
    align-items: center;
}

main img {
    width: 50%;
}

main div {
    width: 42%;
}

main h1 {
    font-size: 60px;
    font-weight: 750;
    line-height: 1.5;
}

main p {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.btl-3 {
    background-color: purple;
    border: 1.5px solid black;
    color: white;
    font-size: 15px;
    font-weight: 200;
    padding: 20px 28px;  
}

.btl-4 {
    background-color: whitesmoke;
    border: 1.5px solid purple;
    color: black;
    font-size: 15px;
    font-weight: 200;
    padding: 20px 28px;  
}

@media  screen and (max-width: 992px) {
   .header-left {
    display: none;
   }

   main div {
    width: 50%;
   }

   main img {
    width: 40%;
   }

   main h1 {
    font-size: 40px;
   }

   main p {
    font-size: 16px;
   }

   .main-btl {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
   }
    
}

@media  screen and (max-width: 768px) {
.header-right h1 {
    font-size: 20px;
}

.header-right img {
    width: 30px;
    height: 30px;
}

main {
    padding: 60px 40px;
}
}

@media  screen and (max-width: 576px) {
    main {
        flex-direction: column-reverse;
    }

    main img {
        width: 60%;
        margin-bottom: 30px;
    }

    main div {
        width: 90%;
        text-align: center;
        justify-content: center;
    }
}
